#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: true,
    draw_borders: true,
    browser_column_widths: [20, 38, 42],
    background_color: None,
    modal_backdrop: true,
    text_color: "{color15}",
    header_background_color: None,
    modal_background_color: None,
    preview_label_style: (fg: "{color6}"),
    preview_metadata_group_style: (fg: "{color14}"),
    tab_bar: (
        enabled: true,
        active_style: (fg: "{color0}", bg: "{color9}", modifiers: "Bold"),
        inactive_style: (fg: "{color15}", bg: None, modifiers: ""),
    ),
    highlighted_item_style: (fg: "{color11}", modifiers: "Bold"),
    current_item_style: (fg: "{color0}", bg: "{color9}", modifiers: "Bold"),
    borders_style: (fg: "{color9}", modifiers: "Bold"),
    highlight_border_style: (fg: "{color9}"),
    symbols: (song: "󰝚 ", dir: " ", playlist: " ", marker: " ", ellipsis: "..."),
    progress_bar: (
        symbols: ["•", "●", "◦"],
        track_style: (fg: "{color12}"),
        elapsed_style: (fg: "{color12}"),
        thumb_style: (fg: "{color12}"),
    ),
    scrollbar: (
        symbols: [" ", "┃", "▴", "▾"],
        track_style: (fg: "{color9}"),
        ends_style: (fg: "{color9}"),
        thumb_style: (fg: "{color9}"),
    ),
    song_table_format: [
        (
            prop: (kind: Property(Artist), style: (fg: "{color9}"),
                default: (kind: Text("Unknown"), style: (fg: "{color11}"))
            ),
            width: "20%",
        ),
        (
            prop: (kind: Property(Title), style: (fg: "{color14}"),
                highlighted_item_style: (fg: "{color15}", modifiers: "Bold"),
                default: (kind: Property(Filename), style: (fg: "{color15}"),)
            ),
            width: "35%",
        ),
        (
            prop: (kind: Property(Album), style: (fg: "{color9}"),
                default: (kind: Text("Unknown Album"), style: (fg: "{color11}"))
            ),
            width: "30%",
        ),
        (
            prop: (kind: Property(Duration), style: (fg: "{color14}"),
                default: (kind: Text("-"))
            ),
            width: "15%",
            alignment: Right,
        ),
    ],
    layout: Split(
        direction: Vertical,
        panes: [
            (
                size: "3",
                pane: Pane(Tabs),
            ),
            (
                size: "4",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            size: "100%",
                            pane: Split(
                                direction: Vertical,
                                panes: [
                                    (
                                        size: "4",
                                        borders: "ALL",
                                        pane: Pane(Header),
                                    ),
                                ]
                            )
                        ),
                    ]
                ),
            ),
            (
                size: "100%",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            size: "100%",
                            borders: "NONE",
                            pane: Pane(TabContent),
                        ),
                    ]
                ),
            ),
            (
                size: "3",
                borders: "TOP | BOTTOM",
                pane: Pane(ProgressBar),
            ),
        ],
    ),
    header: (
        rows: [
            (
                left: [
                    (kind: Property(Status(StateV2(playing_label: "   ", paused_label: "   ", stopped_label: "   "))),style: (fg: "{color11}")),
                    (kind: Property(Widget(ScanStatus)))

                ],
                center: [
                    (kind: Property(Song(Title)), style: (fg: "{color15}"),
                        default: (kind: Property(Song(Filename)), style: (fg: "{color15}"))
                    )
                ],
                right: [
                    (kind: Property(Status(Bitrate)),style: (fg: "{color15}")),
                    (kind: Text(" kbps"),style: (fg: "{color9}")),
                    (kind: Text(" | "),style: (fg: "{color9}")),
                    (kind: Property(Status(Volume)), style: (fg: "{color15}")),
                    (kind: Text("  "), style: (fg: "{color9}"))
                ]
            ),
            (
                left: [
                    (kind: Text("[ "),style: (fg: "{color9}")),
                    (kind: Property(Status(Elapsed)),style: (fg: "{color15}")),
                    (kind: Text(" / "),style: (fg: "{color9}")),
                    (kind: Property(Status(Duration)),style: (fg: "{color15}")),
                    (kind: Text(" ]"),style: (fg: "{color9}"))
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "{color14}"),
                        default: (kind: Text("Unknown Artist"), style: (fg: "{color14}"))
                    ),
                    (kind: Text(" - ")), (kind: Property(Song(Album)),style: (fg: "{color9}" ),
                        default: (kind: Text("Unknown Album"), style: (fg: "{color9}"))
                    )
                ],
                right: [
                    (kind: Text("[ "),style: (fg: "{color9}")),
                    (kind: Property(Status(RepeatV2(
                                    on_label: " ", off_label: " ",
                                    on_style: (fg: "{color11}"), off_style: (fg: "{color14}"))))),
                    (kind: Text(" | "),style: (fg: "{color9}")),
                    (kind: Property(Status(RandomV2(
                                    on_label: " ", off_label: " ",
                                    on_style: (fg: "{color11}"), off_style: (fg: "{color14}"))))),
                    (kind: Text(" | "),style: (fg: "{color9}")),
                    (kind: Property(Status(ConsumeV2(
                                    on_label: "󰟟 ", off_label: "󰟠 ", oneshot_label: "󰟠 ",
                                    on_style: (fg: "{color11}"), off_style: (fg: "{color14}"))))),
                    (kind: Text(" | "),style: (fg: "{color9}")),
                    (kind: Property(Status(SingleV2(
                                    on_label: "󱪵 ", off_label: "󱪳 ", oneshot_label: "󱪴 ", off_oneshot_label: "󱪲 ",
                                    on_style: (fg: "{color11}"), off_style: (fg: "{color14}"))))),
                    (kind: Text(" ]"),style: (fg: "{color9}")),
                ]
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                    (kind: Property(Track)),
                    (kind: Text(" ")),
                ])
        ),
        (
            kind: Group([
                    (kind: Property(Artist)),
                    (kind: Text(" - ")),
                    (kind: Property(Title)),
                ]),
            default: (kind: Property(Filename))
        ),
    ],
)
